body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.navbar-brand > .material-icons-outlined {
  font-size: 40px;
}

.about > .material-icons-outlined {
  font-size: 50px;
}

.card > img {
  height: 250px;
}

.testimonial > img {
  height: 50px;
  width: 50px;
}

#map {
  height: 300px;
}
